<div id='content' class='text-center'>
	<h1>Adventure Selection</h1>
	<hr>
	<div id="new_adventure" class="row">
		<div class="col-md-8 col-md-offset-2">
			<div ng-controller="NewAdventureModalCtrl">
		    <script type="text/ng-template" id="new_adventure_modal.html">
		    	<div class="modal-header">
					  <h3 class="modal-title">New adventure!</h3>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label><h4>What would you like to call your new adventure?</h4></label>
								<input type='text' placeholder='Adventure Name' class='form-control' name="adventure_name" required>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="row">
						<div class="col-md-12">
					    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
					    <a class="btn btn-success" ng-click="ok()" ui-sref="home.create_char">Create</a>
						</div>
						</div>
					</div>
		    </script>
		    <a style="text-decoration: none;" href="" ng-click="open()">
					<div class="well well-sm">
						<h2>Create New Adventure</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Eventually use ng-repeat -->
	<div id="temp_my_adventure" class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
						<h2>My Adventure</h2>
					</div>
					<div class="col-md-1 col-xs-1">
						<div ng-controller="RemoveAdventureModalCtrl">
					    <script type="text/ng-template" id="remove_adventure_modal.html">
					    	<div class="modal-header">
								  <h4 class="modal-title">Confirm Delete</h4>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<p>Are you sure you want to leave this adventure?</p>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<div class="row">
									<div class="col-md-12">
								    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								    <button class="btn btn-success" ng-click="ok()">Confirm</button>
									</div>
									</div>
								</div>
					    </script>
							<a href="" class="btn btn-danger float_right" ng-click="open()"><span class="glyphicon glyphicon-remove"></span></a>
						</div>
					</div>
				</div>
				<p>Playing with Yeti, Jake, Brushgatherer, Jeffrey, Morgana, and Agore with <span class="orange">you</span> as DM</p>
				<h6>The adventure began on 1/2/15 and has lasted 5 days, 6 hours, 3 minutes</h6>
				<div ng-controller="InvitePlayerModalCtrl">
			    <script type="text/ng-template" id="invite_player_modal.html">
			    	<div class="modal-header">
						  <h3 class="modal-title">Invite Friends!</h3>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label><h4>Who would you like to invite to this adventure?</h4></label>
									<input type='text' placeholder='Enter player name(s)' class='form-control' name="player_invite_list" required>
									<br>
									<input type='text' placeholder='Enter email(s)' class='form-control' name="player_invite_list" required>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<div class="row">
							<div class="col-md-12">
						    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						    <button class="btn btn-success" ng-click="ok()">Invite</button>
							</div>
							</div>
						</div>
			    </script>
					<a href="" class="btn btn-primary float_left" ng-click="open()">Invite Players</a>
				</div>
				<a ui-sref="home.adventure_view" class="btn btn-success float_right">Continue Adventure</a>
				<!-- Hack to make well encompass the buttons -->
				<div class="row"></div>
			</div>
		</div>
	</div>
	<div id="temp_another_adventure" class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
						<h2>Leshrac's Adventure</h2>
					</div>
					<div class="col-md-1 col-xs-1">
						<div ng-controller="DMRemoveAdventureModalCtrl">
					    <script type="text/ng-template" id="dm_remove_adventure_modal.html">
					    	<div class="modal-header">
								  <h4 class="modal-title">Confirm Delete</h4>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<h4>Confirm Delete</h4>
											<p>Are you sure you want to leave this adventure?</p>
											<p>**Because you are the DM, leaving this adventure will delete the adventure for all players in it as well. If you are okay with this, click confirm.</p>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<div class="row">
									<div class="col-md-12">
								    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								    <button class="btn btn-success" ng-click="ok()">Confirm</button>
									</div>
									</div>
								</div>
					    </script>
							<a href="" class="btn btn-danger float_right" ng-click="open()"><span class="glyphicon glyphicon-remove"></span></a>
						</div>
					</div>
				</div>
				<p>Playing with <span class="orange">you</span>, Jake, Brushgatherer, Jeffrey, Morgana, and Agore with Leshrac as DM</p>
				<h6>The adventure began on 1/2/15 and has lasted 5 days, 6 hours, 3 minutes</h6>
				<div ng-controller="InvitePlayerModalCtrl">
			    <script type="text/ng-template" id="invite_player_modal.html">
			    	<div class="modal-header">
						  <h3 class="modal-title">Invite Friends!</h3>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label><h4>Who would you like to invite to this adventure?</h4></label>
									<input type='text' placeholder='Enter player name(s)' class='form-control' name="player_invite_list" required>
									<br>
									<input type='text' placeholder='Enter email(s)' class='form-control' name="player_invite_list" required>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<div class="row">
							<div class="col-md-12">
						    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						    <button class="btn btn-success" ng-click="ok()">Invite</button>
							</div>
							</div>
						</div>
			    </script>
					<a href="" class="btn btn-primary float_left" ng-click="open()">Invite Players</a>
				</div>
				<a ui-sref="home.adventure_view" class="btn btn-success float_right">Continue Adventure</a>
				<!-- Hack to make well encompass the buttons -->
				<div class="row"></div>
			</div>
		</div>
	</div>
</div>