<div class="row">
	<div class="col m12 right">
		<a href="#/Dashboard">Dashboard</a>
		<a href="#/">Logout</a>
	</div>
</div>
<div class="row">
	<div class="col m12">
		<p><a href="#/user/{{topic.user_id._id}}">{{topic.user_id.name}}</a> posted a topic:</p>
		<div class="row">
			<div class="col m11 offset-m1">
				<div class="row">
					<div class="col m12">
						<p><strong>{{topic.title}}</strong></p>
						Description: {{topic.description}}
						<form>
							<div class="row">
								<div class="input-field col m12">
							    <textarea class="materialize-textarea" placeholder="Post..." ng-model="new_post.content"></textarea>
							  </div>
						 	</div>
						 	<div class="row">
						 		<div class="input-field col m12">
						 			<div class="right">
										<input type='submit' value='Post' ng-click='add_post()' class="btn">
						 			</div>
								</div>
						 	</div>
					 	</form>
					</div>
				</div>
				<div class="row">
					<div class="col m12">
						<div ng-repeat="post in topic.posts | orderBy: -created_date">
							<hr>
							<p><a href="#/user/{{post.user_id._id}}">{{post.user_id.name}}</a> says: {{post.content}} <a class="btn right green" ng-click="upvote(post._id)"><i class="material-icons">thumb_up</i></a><a class="btn right red" ng-click="downvote(post._id)"><i class="material-icons">thumb_down</i></a><span class="right" style="margin-right:10px">Rating: {{post.rating}}</span></p>
							<div class="row">
								<div class="col m11 offset-m1">
									<div class="row" ng-repeat="comment in post.comments">
										<p><a href="#/user/{{comment.user_id._id}}">{{comment.user_id.name}}</a> says: {{comment.content}}</p>
									</div>
									<div class="row">
										<div class="col m12">
											<form ng-submit="add_comment(post._id, content)">
												<div class="row">
													<div class="input-field">
												    <textarea class="materialize-textarea" placeholder="Comment..." ng-model="content"></textarea>
												  </div>
											 	</div>
											 	<div class="row">
											 		<div class="input-field">
											 			<div class="right">
															<input type='submit' value='Comment' class="btn">
											 			</div>
													</div>
											 	</div>
										 	</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>