<div id='content' class='text-center'>
	<h1>Adventure Selection</h1>
	<hr>
	<div id="new_adventure" class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="well well-sm">
				<form ng-submit="vm.createAdventure()">
					<input type='text' placeholder='New adventure' class='form-control' ng-model="vm.new_adventure.title" required>
				</form>
			</div>
		</div>
	</div>
	<div ng-repeat="adventure in vm.adventures" class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
						<h2>{{adventure.title}}</h2>
					</div>
					<div class="col-md-1 col-xs-1">
						<a href="" class="btn btn-danger pull-right" ng-click="vm.removeAdventure(adventure)"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>
				<p>Playing with Yeti, Jake, Brushgatherer, Jeffrey, Morgana, and Agore with <span class="orange">you</span> as DM</p>
				<h6>The adventure began on 1/2/15 and has lasted 5 days, 6 hours, 3 minutes</h6>
				<a href="" class="btn btn-primary pull-left" ng-click="vm.invitePlayer(adventure)">Invite Players</a>
				<a ui-sref="home.adventure-view" class="btn btn-success pull-right">Continue Adventure</a>
				<!-- FIXME clearfix? -->
				<div class="row"></div>
			</div>
		</div>
	</div>
	<!-- <div id="tes-non-dm-adv" class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
						<h2>Leshrac's Adventure</h2>
					</div>
					<div class="col-md-1 col-xs-1">
						<a href="" class="btn btn-danger pull-right" ng-click="vm.removeAdventure({_id: 123})"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>
				<p>Playing with <span class="orange">you</span>, Jake, Brushgatherer, Jeffrey, Morgana, and Agore with Leshrac as DM</p>
				<h6>The adventure began on 1/2/15 and has lasted 5 days, 6 hours, 3 minutes</h6>
				<a href="" class="btn btn-primary pull-left" ng-click="vm.open()">Invite Players</a>
				<a ui-sref="home.adventure-view" class="btn btn-success pull-right">Continue Adventure</a>
				<div class="row"></div>
			</div>
		</div>
	</div> -->
</div>

<!-- Invite Player Modal -->
<script type="text/ng-template" id="invite-player-modal.html">
	<div class="modal-header">
	  <h3 class="modal-title">Invite Friends!</h3>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label><h4>Who would you like to invite to this adventure?</h4></label>
				<input type='text' placeholder='Enter player name(s)' class='form-control' name="player_invite_list" required>
				<br>
				<input type='text' placeholder='Enter email(s)' class='form-control' name="player_invite_list" required>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-md-12">
		    <button class="btn btn-danger" ng-click="vm.cancel()">Cancel</button>
		    <button class="btn btn-success" ng-click="vm.ok()">Invite</button>
			</div>
		</div>
	</div>
</script>

<!-- Remove Adventure Modal -->

<script type="text/ng-template" id="remove-adv-modal.html">
	<div class="modal-header">
	  <h4 class="modal-title">Confirm Delete</h4>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<h4>Confirm Delete</h4>
				<p>Are you sure you want to leave this adventure?</p>
				<p ng-show="vm.isDM">**Because you are the DM, leaving this adventure will delete the adventure for all players in it as well. If you are okay with this, click confirm.</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="row">
		<div class="col-md-12">
	    <button class="btn btn-danger" ng-click="vm.cancel()">Cancel</button>
	    <button class="btn btn-success" ng-click="vm.ok()">Confirm</button>
		</div>
		</div>
	</div>
</script>