/*
Pallette{
	Text: 282B26,
	Shadows/Borders: 5E5E5E,
	Element Backgrounds: EDF2F4,
	Action Elements(light): 77B558,
	Action Elements(dark): 1B8440 
}
*/
.float_right{
	float: right;
}
.float_left{
	float:left;
}
.display_block{
	display: block;
}
.orange{
	color: #f29649;
}
.border{
	border-right:1px solid black;
}